<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>simple-notes</title>
        <style>
            h1 {
                all: unset;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            a {
                all: unset;
                cursor: pointer;
            }

            a:hover {
                font-weight: bold;
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <!-- THE LOGO -->
        <h1>
            <a href="/">simple-notes</a>
        </h1>
    </body>
</html>
