<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>simple-notes</title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/font-style.css" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <!-- THE LOGO -->
        <h1>
            <a href="/">simple-notes</a>
        </h1>
    </body>
</html>
