.auth-form {
    width: calc(100% - 50px);
    max-width: 400px;

    margin: 25px auto;
    padding: 25px;

    border: 2px solid #666666;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.auth-form input {
    display: block;

    width: 100%;

    padding: 10px;
    background-color: transparent;
    /* border: 2px solid #666666; */
    outline: 2px solid #666666;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

.auth-form button[type='submit'] {
    color: #999999;
    background-color: transparent;

    display: block;
    margin: 0 auto;
    padding: 10px 25px;

    text-transform: uppercase;

    border: none;
    outline: 2px solid #999999;
    border-radius: 5px;

    cursor: pointer;
}

.auth-form button[type='submit']:focus,
.auth-form button[type='submit']:hover {
    outline: 2px solid rgb(185, 79, 255);
    color: rgb(185, 79, 255);
}

.auth-form p,
.auth-form p a {
    margin-top: 10px;
    font-style: italic;
    color: #999999;
}

.auth-form p a {
    color: #cccccc;
}

.auth-form p a:hover,
.auth-form p a:focus {
    color: rgb(185, 79, 255);
}

.auth-form input:focus {
    outline: 2px solid rgb(185, 79, 255);
}
